# Database Configuration
DB_USER=ton_utilisateur_postgres
DB_PASSWORD=ton_mot_de_passe_postgres
DB_NAME=nom_de_ta_base_melonela
DB_HOST=ton_hôte_postgres
DB_PORT=ton_port_postgres

# JWT Secret Key
JWT_SECRET=une_cle_secrete_très_longue_et_complexe_pour_signer_les_tokens_jwt
